# Python
env/
__pycache__/
*.py[cod]
*.pyo
.env

# Jupyter
*.ipynb
.ipynb_checkpoints/

# Model weights
*.pth

# Folders
liscie_crop/
Potato Leaf Disease Dataset in Uncontrolled Environment/
Potato Leaf DIsease/
ol/
logs/

#temp
benchmark.py
s.py
sal.py
a.py

